@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

#root {
  margin: 0 auto;
  width: auto;
  height: auto;
  font-family: "Cairo", serif;
  background-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: auto;
  height: auto;
  overflow-x: hidden;
  background-color: #ffffff !important;
}
.font-type {
  font-family: Cairo;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
.payment-section {
  background-color: rgb(67, 24, 255);
  margin-top: 6%;
  border-radius: 25px;
}
.heeder-dash {
  position: absolute;
  top:  90rem;
  right: 38%;
}
.body-dash {
  position: absolute;
  top:  93rem;
  right: 34%;
}
.liinfooter {
  padding-bottom: 10px;
  color: #38404F;
  font-size: 21px;
}
.hero-bg-gold {
  position: absolute;
  top: 37px;
  left: -101px;
  width: 340px;
  height: 300px;
  background: url("/src/assets/bghero2.svg") no-repeat center/contain;

  z-index: 0;
  opacity: 0.8;
}

.hero-bg-blue {
  position: absolute;
  bottom: 55%;
  right: -75px;
  background: url("/src/assets/bghero.svg") no-repeat center/contain;

  width: 350px;
  height: 350px;
  z-index: 1;
  opacity: 0.8;
}
.card-bodye{
  padding: 2rem !important;
}
.titel-service{
  background: linear-gradient(to right, #52CFF3 49%, #4A46E0 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;
}
.titel-team{
  background: linear-gradient(to right, #52CFF3 15%, #4A46E0 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;
}
.subservice-titel{
  background: linear-gradient(to right, #52CFF3 49%, #4A46E0 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;
}
.paragraph-discover{
  display: flex
;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 22rem;
    color: white;
    right: 6rem;
}
.previous-button{
  background-color: #4318FF !important;
  color: white !important;
  width: 100%;
  border-radius: 10px;
}
.card-faq{
  padding: 0 !important;
  border: 1px solid #E8EAED;
  border-radius: 10px
}